div{
    height: 12.5em;
    position: static;
    width: 12.5em;/*cada em es igual a 16px http://pxtoem.com/*/
}
#box_1 {
	background: #ee3e64;
}

#box_2 {
	background: #44accf;
    left: 12.5em;
    position: relative;
}

#box_3 {
	background: #b7d84b;
}
